* {
  margin: 0;
  padding: 0;
}
/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
.lilita-one-regular {
  font-family: 'Lilita One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* .caveat-uniquifier {
  font-family: 'Caveat', cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
} */
.shadows-into-light-regular {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 400;
  font-style: normal;
}
/* end of fonts */
:root {
  --main_purple: #7c3aed;
  --soft_purple: #985de5;
  --deep_purple: #4c1095;
  --neon_purple: #a855f7;
  --glass_bg1: rgba(255, 255, 255, 0.15);
  --glass_bg2: rgba(255, 255, 255, 0.25);
  --glass_bg3: rgba(30, 30, 46, 0.6);
  --glass_border: rgba(255, 255, 255, 0.18);
  --glass_shadow: rgba(31, 38, 135, 0.37);
  --button: linear-gradient(135deg, #7c3aed, #985de5);
  --btn_font: #fff;
  --filter: blut(12px);
  --border: 1px solid rgba(255, 255, 255, 0.18);
  --box_shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  --font_family: 'Lilita One', sans-serif;
}

body {
  background-color: #deddec;
}
header {
  position: fixed;
  display: inline-flex;
  height: 60px;
  width: 100%;
  background-color: var(--glass_bg1);
  box-shadow: var(--box_shadow);
  border: var(--border);
}
/* logo design with before and after */
#logo {
  width: 20%;
  text-align: justify;
  margin: 4px 30px;
  padding: 4px 5px;
}
#logo a {
  position: relative;
  color: var(--btn_font);
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Lilita One', sans-serif;
  font-weight: 800;
  z-index: 999;
}

#logo a::after {
  content: '';
  position: absolute;
  left: -11px;
  top: -2px;
  background: var(--deep_purple);
  height: 25px;
  width: 25px;
  border: var(--border);
  border-radius: 50%;
  z-index: -2;
}

#logo a::before {
  content: '';
  position: absolute;
  left: -4px;
  top: 4px;
  background: var(--neon_purple);
  height: 13px;
  width: 13px;
  border: var(--border);
  border-radius: 50%;
  z-index: -1;
}

/* End of logo */
/* Start menu - ul & li*/
#navbar {
  display: flex;
  width: 60%;
  /* right: 0; */
  justify-content: center;
}
#navbar ul {
  position: absolute;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
  margin: 10px;
}

#navbar ul li {
  list-style: none;
  margin: 0 5px;
}

.nav_links , #hero_btn{
  display: inline-block;
  text-decoration: none;
  font-family: 'Lilita One', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--btn_font);
  padding: 5px 10px;
  background-color: var(--glass_bg2);
  border: var(--border);
  box-shadow: var(--box_shadow);
  border-radius: 4px;
  transition: transform 1.2s ease, background-color 1.2s ease;
  /* transform: scale(1); */
}

.nav_links:hover, #hero_btn:hover, .hero-content:hover {
  background-color: var(--glass_bg3);
  transform: scale(1.1);
  transition: transform 1.2s ease;
}

/* Login section */
#login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

#login span {
  background-color: var(--glass_bg1);
  padding: 10px 15px;
  border: var(--border);
  box-shadow: var(--box_shadow);
  border-radius: 10px;
  transition: transform 1.2s ease, background-color 1.2s ease;
}
#login span:hover {
  background-color: var(--glass_bg3);
  transform: scale(1.1);
  transition: transform 1s ease;
}

/* End of Menu */
#hero {
  background-image: url(../image/hero.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  padding: 0 30px;
}

.hero-content {
  position: relative;
  /* background-color: var(--glass_bg1); */
  padding: 30px 30px;
  /* border: var(--border); */
  border-radius: 10px;
  /* box-shadow: var(--box_shadow); */
  width: 40vw;
   transition: transform 1.2s ease, background-color 1.2s ease;
}

.hero-content span {
  color: var(--btn_font);
  font-size: 30px;
  font-family: var(--font_family);
  font-weight: 200;
  
}

.hero-content h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 80px;
  font-weight: 100;
  
}
.hero-content p{
  font-family: var(--font_family);
  font-size: 18px;
  text-align: justify;
  margin: 20px 0;
}
.hero-content #hero_btn{
transition: transform 1.2s ease, background-color 1.2s ease;
}